.app-nav {
	position: fixed;
	left: 2rem;
	top: 2rem;
	z-index: $z-index-nav;
	ul {
		transition: height 200ms;
		transition-delay: 100ms;
		overflow: hidden;
	}
	&-link {
		height: 2.5rem;
		width: 2.5rem;
		line-height: 2.5rem;
		padding: 0;
		display: block;
		background: $blue-dark;
		color: $white;
		text-align: center;
		@extend .font-heavy;
		&:hover {
			background: $yellow-bright;
			color: $blue-dark;
		}
	}
	&-info {
		font-family: monospace;
		&-close {
			font-size: 3.5rem;
			font-weight: normal;
		}
	}
	&-home {
		margin-bottom: 1.5rem;
		&-icon {
			position: relative;
			background: $yellow-bright;
			border-radius: 100%;
			height: 2rem;
			width: 2rem;
			top: 0.25rem;
			left: 0.25rem;
			transition: 200ms;
		}
		&:hover {
			background: $blue-dark;
			.app-nav-home-icon {
				border-radius: 0;
				height: 2.5rem;
				width: 2.5rem;
				top: 0;
				left: 0;
			}
		}
	}
	&-modal.modal {
		max-width: 100%;
		height: 100vh;
		width: 100vw;
		margin: 0;
		h2 {
			font-size: 2.5rem;
			margin: 0 0 1rem 0;
		}
		.modal-content {
			margin-left: 5rem;
		}
		&-close {
			font-weight: 400;
			font-size: 3rem;
		}
		.modal-close {
			display: none;
		}
		.container {
			max-width: 44rem;
		}
	}
}