* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
	min-width: 100%;
	font-family: sans-serif;
	font-weight: 100;
}

html {
	background: #000;
	height: 100%;
}

body {
	background: $white;
	min-height: 100%;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

h1, h2, h3, h4, h5, h6, button, a, p, button, text {
	@extend .default-font;
}

a {
	color: $blue;
	text-decoration: none;
}

figcaption {
	margin: 0.5rem 0;
	line-height: 1.5;
}

button {
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
}

[role="button"] {
	cursor: pointer;
}