// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.default-font {
	font-family: sans-serif;
}

.font-mono{
	font-family: monospace;
}
.text {
	&-small {
		font-size: 0.75rem;;
	}
}