@import './../../base/_base.scss';

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.animate {
    animation: fade 8000ms infinite;
    transform: translateZ(0);
}

.gradients {
    overflow: hidden;
    &-layer {
        position: absolute;
        height: 200%;
        width: 200%;
        @include breakpoint(sm) {
            height: 100%;
            width: 100%;
        }
        &-base {
            transition: background-color 4000ms;
        }
    }
    &-chart {
        display: block;
        margin: 0 auto;
        height: 200px;
        overflow: hidden;
        path {
            stroke: #000;
            stroke-width: 1;
            fill: none;
        }
    }
    &-layers {
        transform: scale(0.7);
        margin-bottom: -15%;
        margin-top: -15%;
        @include breakpoint(sm) {
            transform: none;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    &-helper-text {
        color: rgba(255,255,255,0.8);
        position: fixed;
        z-index: 10000;
        font-weight: normal;
        transition: opacity 500ms;
        pointer-events: none;
        top: 140px;
        left: 30px;
        transform: none;
        @include breakpoint(sm) {
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}