@import './../../base/_base.scss';

.gradients {
    overflow: hidden;
    &-layer {
        position: absolute;
        height: 200%;
        width: 200%;
        @include breakpoint(sm) {
            height: 100%;
            width: 100%;
        }
    }
    &-chart {
        display: block;
        margin: 0 auto;
        height: 200px;
        overflow: hidden;
        path {
            stroke: #000;
            stroke-width: 1;
            fill: none;
        }
    }
    &-layers {
        transform: scale(0.7);
        margin-bottom: -15%;
        margin-top: -15%;
        @include breakpoint(sm) {
            transform: none;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}