.Dropdown {
	background: #fff;
	&-root {
		display: inline-block;
	}
	&-control {
		position: relative;
	}
	&-control, &-menu {
		min-width: 120px;
		background: $pink-light;
	}
	&-menu {
		position: absolute;
		max-height: 45vh;
		overflow: auto;
		z-index: 1;
	}
	&-placeholder {
		font-size: 1.5rem;
		padding: 6px 25px;
		cursor: pointer;
	}
	&-option {
		padding: 6px;
		cursor: pointer;
		&:hover {
			background: $pink;
		}
	}
	&-arrow {
		border-color: $blue-medium transparent transparent;
	    border-style: solid;
	    border-width: 7px 7px 0;
	    content: ' ';
	    display: block;
	    height: 0;
	    position: absolute;
	    right: 8px;
	    top: 1rem;
	    width: 0;
	}
}