.newsfeed {
	max-width: 800px;
	margin: 0 auto;
	ul {
		@include tablet {
			margin: 20px 0;
		}
	}
	&-sort {
		text-align: center;
		font-size: 0.8rem;
		margin: 2rem 0;
	}
	&-loading {
		padding: 50px 0;
		text-align: center;
	}
	&-focused-article {
		background: $peach;
		h2 {
			margin-right: 15px;
		}
		&-description {
			padding-top: 5px;
		}
		&-about {
			position: relative;
		}
		&-link {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0.8rem;
			font-weight: 400;
			@include mobile {
				display: block;
				position: relative;
			}
		}
		img {
			max-height: 50%;
			height: auto;
			width: 50%;
			float: right;
			margin-left: 10px;
			&.full-size {
				width: auto;
				float: none;
				margin: 10px auto;
				display: block;
				max-width: 60%;
			}
			@include mobile {
				width: 100%;
				margin: 10px 0;
			}
		}
	}
}
.article {
	position: relative;
	&-load-more {
		text-align: center;
		padding: 30px;
	}
	a {
		display: block;
		padding: 30px;
		color: inherit;
		@include mobile {
			padding: 20px;
		}
	}
	&:hover, &-active {
		background: $peach-light;
	}
}

.attribution-link {
	margin: 2rem 0;
	color: $gray-medium;
	font-size: 0.7rem;
	text-align: center;
}