.newsfeed {
	ul {
		@include tablet {
			margin: 20px 0;
		}
	}
	&-actions {
		position: relative;
		padding: 1rem 0;
		margin: 1rem 0;
		overflow: hidden;
		button {
			margin: 0 1rem;	
			@include mobile {
				margin: 1rem;
			}
		}
	}
	&-refresh {
		position: absolute;
		right: 0;
		top: 0;
		span {
			@include transform(rotate(90deg));
			display: inline-block;
		}
		@include mobile {
			position: relative;
			float: right;
		}
	}
	&-sort {
		text-align: center;
		font-size: 0.8rem;
	}
	&-loading {
		padding: 50px 0;
		text-align: center;
	}
	&-bg {
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
	}
}
.article {
	position: relative;
	background: #fff;
	margin: 3rem 0;
	&-load-more {
		text-align: center;
		padding: 30px;
	}
	a {
		display: block;
		padding: 30px;
		color: inherit;
		@include mobile {
			padding: 20px;
		}
	}
	&:hover, &-active {
		background: $peach-light;
	}
	@include tablet {
		background: #fff;
		margin: 2rem 0 5rem 0;
		&:hover, &-active {
			background: #fff;
		}
	}
}