.newsfeed-focused-article {
	h2 {
		margin-right: 15px;
	}
	&-description {
		padding-top: 5px;
	}
	&-about {
		position: relative;
	}
	&-link {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.8rem;
		font-weight: 400;
		@include mobile {
			display: block;
			position: relative;
			margin: 10px 0;
		}
	}
	img {
		max-height: 50%;
		height: auto;
		width: 50%;
		float: right;
		margin-left: 10px;
		&.full-size {
			width: auto;
			float: none;
			margin: 10px auto;
			display: block;
			max-width: 60%;
		}
		@include mobile {
			width: 100%;
			margin: 10px 0;
		}
	}
	&-category {
		padding: 0.25em 0.5em;
		line-height: 1.8em;
		margin: 0.5em 0;
		display: inline-block;
		&.technology, &.sports, &.science, &.politics {
			color: #fff;
		}
	}
}