.newsfeed {
	max-width: 800px;
	margin: 0 auto;
	&-focused-article {
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		height: 100%;
		&-content {
			background: $peach;
			text-align: left;
			display: inline-block;
			width: 80%;
			height: 70vh;
			margin-top: 15vh;
			max-width: 900px;
			padding: 20px;
		}
		&-description {
			max-height: calc(100% - 130px);
			overflow-y: auto;
			padding-top: 5px;
		}
		&-about {
			position: relative;
		}
		&-link {
			position: absolute;
			top: 0;
			right: 0;
		}
		img {
			max-height: 50%;
			height: auto;
			width: 50%;
			float: right;
			margin-left: 10px;
			&.full-size {
				width: auto;
				float: none;
				margin: 10px auto;
				display: block;
				max-width: 60%;
			}
		}
	}
}
.article {
	position: relative;
	&-load-more {
		text-align: center;
		padding: 30px;
	}
	a {
		display: block;
		padding: 30px;
		color: inherit;
	}
	&-description {
		font-size: 0.9rem;
	}
	&:hover {
		background: $peach;
	}
}

.attribution-link {
	margin: 2rem 0;
	color: $gray-medium;
	font-size: 0.7rem;
	text-align: center;
}

@media (max-width: 480px) {
	.article a {
		padding: 20px;
	}
}