body, canvas {
    margin: 0;
    cursor: pointer;
}
#marker {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0 0 50px 20px #ffffff;
    transform: translate(-7px, -20px);
}