@import './../util/split-word';
@import './../base/partials/mixins';

header {
    top: 20px;
    padding: 8px 0;
    z-index: 2000;
	position: fixed;
    left: 20px;
    a {
        display: inline-block;
        text-decoration: none;
        font-style: normal;
        height: 100px;
        &:hover h1 {
            @include breakpoint(sm) {
                span {
                    transform: translateY(0);;
                }
            }
        }
        @include breakpoint(xs) {
            height: 73px;
            width: 160px;
        }
    }
    h1 {
        pointer-events: none;
        font-family: sans-serif;
        font-size: 1.625rem;
        font-weight: 100;
        margin: 0;
        color: #000;
        text-transform: uppercase;
        @extend .split-word;
    }
    @include breakpoint(xs) {
        padding-left: 10px;
        position: absolute;
        h1 {
            transform: scale(0.75);
            transform-origin: top left;
            margin-top: 1px;
        }
    }
}
