.content {
	section {
		padding: 5vh 5vw;
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&-attribution-link {
		margin: 2rem 0;
		color: $gray-medium;
		font-size: 0.8rem;
		text-align: center;
	}
	&-tabs {
		button {
			padding: 6px 8px;
			font-size: 0.8rem;
			width: 1.8rem;
			background: $peach-light;
			&:hover, &.selected {
				background: $peach;
			}
		}
	}
}