.content {
	section {
		padding: 5vh 5vw;
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&-attribution-link {
		margin: 2rem 0;
		color: $gray-medium;
		font-size: 0.8rem;
		text-align: center;
	}
}