.sets-possible {
    padding: 5rem 0;
    max-width: 25rem;
    margin: 0 auto;
    @include breakpoint(xs) {
        padding: 1rem 0;
        transform: scale(0.75);
        transform-origin: top center;
    }
}
