$card-height: 10rem;
$card-width: 7.5rem;
$card-margin: 2rem;

$gray: #959595;
$mint: #ceffce;

$metadata-width: $card-width + $card-margin * 2;
$metadata-padding: 3rem;
$visible-cards-width: $card-width * 4 + $card-margin * 3; 
$set-help-height: 10rem;
$visible-card-height-mobile: 29rem;