$white: #fff;
$black: #00446a;

$peach: #ffe7d2;
$peach-light: #fff6ef;

$beige: #f5f5dc;
$blue-bright: #45a6f3;
$blue-dark: #0067ef;
$yellow-bright: #FDEC00;
$pink: #ffc0cb;
$pink-light: #fff4f6;

// z-index
$z-index-modal: 100;
$z-index-nav: 200;