$card-height: 10rem;
$card-width: 7.5rem;
$card-margin: 2rem;

$gray: #959595;
$mint: #ceffce;

@import './../../base/base';

@import 'partials/set-card';
@import 'partials/set';
@import 'partials/set-deck';
@import 'partials/set-help';
@import 'partials/sets-possible';
