:root {
    --ranking-good: #79d98c;
    --ranking-average: #c1c1c1;
    --ranking-bad: #ff9800;
    --ranking-bg: #e6e6e6;
    --ranking-range: #525252;
    --accent: #b11414;
    --accent-bright: #cc65f5;
    --neighborhood: #efe3ff;
    --neighborhood-outline: #cc65f5;
    --coord: #700000;
    --coord-selected: var(--accent);
    --background: cornflowerblue;
}