@import "./../../home/partials/variables";
@import "./../../base/partials/mixins";

.cafes {
    header {
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px 10px 0 10px;
        @include breakpoint(sm) {
            padding: 20px 20px 0 20px;
            max-width: 400px;
        }
        h1 {
            line-height: 1.4;
        }
        h1, h3, a {
            display: inline;
        }
        h3 {
            margin-left: 10px;
        }
    }
    h1 {
        font-weight: 100;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 100;
        margin: 0.5rem 0;
        text-transform: uppercase;
        text-align: left;
    }
    h3 {
        margin: 0 0 1rem 0;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        font-weight: 600;
    }
    blockquote {
        margin: 1.25rem 0 1.25rem 1rem;
        line-height: 1.4;
        font-size: 0.875rem;
    }
    select {
        border-color: #cccccc;
        padding: 7px;
    }
    .select-name, label, p {
        font-size: 0.875rem;
    }
    &-map {
        margin-left: auto;
        overflow: hidden;
        padding-top: 100px;
        @include breakpoint(sm) {
            padding-top: 0;
        }
        .cafe-coord {
            cursor: pointer;
            circle {
                stroke: rgba(255,255,255,0);
                stroke-width: 2;
            }
        }
    }
    &-ranking {
        margin: 1rem 0;
        padding: 1rem 1rem 0.5rem 0;
        border-top: 1px solid #000;
        &:first-child {
            margin-top: 0;
        }
        button {
            font-size: 1.75rem;
            height: 100%;
            padding: 0;
        }
    }
    &-sidebar {
        flex-direction: column;
        padding: 20px;
        &-filters {
            h3 {
                margin: 2px 0;
                display: inline-block;
            }
            button {
                background: #029be5;
                color: white;
                border-radius: 5px;
            }
            &-info {
                justify-content: space-between;
                background: #ffedb5;
                margin-bottom: -1px;
                padding: 8px;
                border-bottom: 1px solid #000;
            }
        }
        @include breakpoint(sm) {
            position: fixed;
            padding-top: 100px;
            width: calc(100vw - 40px);
            min-width: 300px;
            max-width: 400px;
            top: 0;
            height: 100vh;
            z-index: 2;
        }
    }
}