@import "./../../home/partials/variables";
@import "./../../base/partials/mixins";

.cafes {
    --ranking-good: #79d98c;
    --ranking-average: #c1c1c1;
    --ranking-bad: #ff9800;
    --ranking-bg: #e6e6e6;
    --accent: #6284f6;
    --accent-dark: #4967c9;
    --neighborhood: #efe3ff;
    --neighborhood-outline: #b365f5;
    min-height: 100vh; 
    background: cornflowerblue;
    header {
        position: static;
        h1 {
            line-height: 1.4;
            text-transform: none;
        }
        h1, h3, a {
            display: inline;
        }
        h3 {
            margin-left: 10px;
            color: var(--accent-dark);
        }
    }
    h1 {
        font-weight: 100;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 100;
        margin: 0.5rem 0;
        text-align: left;
    }
    h3 {
        margin: 0 0 1rem 0;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        font-weight: 600;
    }
    blockquote {
        margin: 1.25rem 0 1.25rem 1rem;
        line-height: 1.4;
        font-size: 0.875rem;
    }
    select {
        border-color: #cccccc;
        padding: 7px;
    }
    .select-name, label, p {
        font-size: 0.875rem;
    }
    &-map {
        margin-left: auto;
        overflow: hidden;
        .cafe-coord {
            cursor: pointer;
            circle {
                stroke: rgba(255,255,255,0);
                stroke-width: 2;
            }
        }
    }
    &-ranking {
        margin: 1rem 0;
        padding: 1rem 1rem 0.5rem 0;
        border-top: 1px solid #000;
        &:first-child {
            margin-top: 0;
        }
        button {
            font-size: 1.75rem;
            height: 100%;
            padding: 0;
        }
    }
    &-sidebar {
        flex-direction: column;
        padding: 20px;
        background: cornsilk;
        border-radius: 20px;
        &-filters {
            button {
                background: var(--accent);
                color: #fff;
                border-radius: 20px;
                padding: 2px 10px;
                margin: 4px 0;
                font-size: 0.75rem;
                letter-spacing: 0.04rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            &-info {
                justify-content: space-between;
                margin-bottom: -1px;
                padding: 8px 0;
                border-bottom: 1px solid #000;
            }
        }
        @include breakpoint(sm) {
            position: fixed;
            width: calc(100vw - 40px);
            min-width: 300px;
            max-width: 375px;
            top: 0;
            height: calc(100vh - 20px);
            margin: 10px;
            z-index: 2;
        }
    }
}