@import './../../util/animations';

div {
    background: #fff;
}

.window {
    height: 60%;
    position: absolute;
    background: rgba(255,255,255,0);
    left: 100%;
    > div {
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
        position: absolute;
        background: rgba(255,255,255,0);
        left: 0;
        width: 100%;
        backdrop-filter: sepia(0.01);
        transition: top 500ms;
        &:first-child {
            top: 0;
            height: 60%;

            &:before {
                content: '';
                position: absolute;
                height: 33.3%;
                top: 33.3%;
                width: 100%;
                border-bottom: 2px solid #fff;
                border-top: 2px solid #fff;
            }
            &:after {
                content: '';
                position: absolute;
                width: 33.3%;
                left: 33.3%;
                height: 100%;
                border-left: 2px solid #fff;
                border-right: 2px solid #fff;
            }
        }
        &:last-child {
            top: 60%;
            height: 40%;
            &:before {
                content: '';
                position: absolute;
                height: 50%;
                top: 50%;
                width: 100%;
                border-top: 2px solid #fff;
            }
            &:after {
                content: '';
                position: absolute;
                width: 33.3%;
                left: 33.3%;
                height: 100%;
                border-left: 2px solid #fff;
                border-right: 2px solid #fff;
            }
        }
    }
    &:hover {
        > div:last-child {
            top: 20%;
        }
    }
}