$white: rgba(255,255,255,0.7);
.home {
	h1 {
		color: $white;
		height: 8vw;
		margin-top: -7.85vw;
		@include mobile {
			height: 2.5rem;
			margin-top: -2.5rem;
		}
	}
	h4 {
		color: $peach;
	}
	h1, h4 {
		text-align: center;
	}
	h1, h2 {
		font-size: 8vw;
		@include mobile {
			font-size: 2.5rem;
		}
	}
	h4, .home-links a {
		font-size: 2.5vw;
		@include mobile {
			font-size: 1.3rem;
		}
	}
	.about, .projects {
		h2 {
			color: $white;
		}
	}
	.main {
		height: 100vh;
		justify-content: flex-end;
	}
	&-links {
		margin: 0;
		li {
			margin: 1.5vw 3vw 0 0;
			display: inline-block;
		}
		a {
			font-weight: 400;
			text-transform: uppercase;
			display: block;
			padding: 2vw;
			color: #000;
			background: $blue-light;
			&:hover {
				background: $blue-light-hover;
			}
		}
	}
	&-bg {
		position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: 100%;
	    height: 100%;
	    z-index: -100;
	    @include transform(translateX(-50%) translateY(-50%) translateZ(0));
	}
}