.home-links {
	li {
		margin: 0 3vw 0 0;
		display: inline-block;
		position: relative;
		color: $yellow-bright;
		text-transform: uppercase;
		@extend .font-heavy;
		&:before {
			content: '';
			background: $yellow-bright;
			height: 70%;
			width: 2.5vw;
			position: absolute;
			top: -3.5vw;
			left: 1.7vw;
			font-size: 1.1vw;
			line-height: 2.5vw;
			box-sizing: border-box;
			overflow: hidden;
			padding: 0 0.5vw;
			transition: all 0.3s;
		}
		&:hover, &:active {
			color: $blue-dark;
			&:before {
				width: 7vw;
				@include mobile {
					width: 100%;
				}
			}
		}
	}
	a {
		display: block;
		padding: 2vw;
		border: 0.3vw solid;
		font-size: 2vw;
		color: $beige;
		writing-mode: vertical-lr;
		@include mobile {
			font-size: 1rem;
			border-width: 0.5vw;
		}
	}
	svg {
		fill: $gray-light;
		width: 2rem;
		@include mobile {
			width: 1rem;
		}
	}
}
.home-projects {
	li:before {
		background: $yellow-bright;
		content: 'project';
	}
}
.home-about {
	li:before {
		background: $pink;
	}
}
body.loaded {
	li:before {
		height: 2.5vw;
	}
}