.home {
	h1, h4 {
		text-align: left;
	}
	h1, h2 {
		font-size: 8vw;
		@include mobile {
			font-size: 2.5rem;
		}
	}
	h4, .home-links a {
		font-size: 2.5vw;
		@include mobile {
			font-size: 1.1rem;
		}
	}
	.projects {
		background: $blue-light;
	}
	.about {
	}
	&-links {
		margin: 0;
		li {
			margin: 1vw 3vw 0 0;
			display: inline-block;
		}
		a {
			font-weight: 400;
			text-transform: uppercase;
			display: block;
			padding: 1.5vw;
			color: #000;
			background: $pink;
			&:hover {
				background: $pink-hover;
			}
		}
	}
}