.home {
	h1, h4 {
		text-align: left;
	}
	h1, h2 {
		font-size: 8vw;
		@include mobile {
			font-size: 2.5rem;
		}
	}
	h4, .home-links a {
		font-size: 2.5vw;
		@include mobile {
			font-size: 1.1rem;
		}
	}
	.projects {
		background: $orange-dark;
		h2, .home-links a {
			color: $peach;
		}
	}
	.about {
		background: $peach;
		h2, .home-links a{
			color: $red;
		}
	}
	&-links {
		margin: 0;
		li {
			margin: 2vw 5vw 2vw 0;
			display: inline-block;
		}
		a {
			font-weight: 400;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}