.home-info {
	align-items: flex-end;
	justify-content: flex-end;
	&-box {
		padding: 3.5rem 1rem;
		background: $beige;
		background: linear-gradient($pink, $yellow-bright);
		position: relative;
		margin: 0 1vh 1vw 0;
		&:before {
			content: '';
			height: 5rem;
			width: 5rem;
			background: $yellow-bright;
			border-radius: 100%;
			top: -166vh;
			right: 2rem;
			position: absolute;
			transition: top 1.5s;
			z-index: 1;
			@include mobile {
				top: -105vh;
			}
		}
	}
}