.pattern {
	&-app {
		padding-top: 3rem;
	}
	&-tie_up {
		margin-right: 1rem;
	}
	&-notes {
		margin: 2rem auto;
		text-align: left;
		max-width: 500px;
		padding: 0 0.7rem;
	}
	&-select {
		text-align: center;
	}
}