.pattern-item {
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-right: 1rem;
	&-edit {
		margin-left: 1rem;
		@extend .btn-dotted;
	}
	&-section {
		margin: 20px;
		display: inline-block;
		text-align: left;
		vertical-align: top;
		overflow: auto;
		max-width: calc(100% - 2.5rem);
		@include mobile {
			display: block;
			text-align: center;
		}
	}
	h5, .pattern-item-tabs {
		margin-left: 1rem;
		@include mobile {
			margin-left: 0.75rem;
		}
	}
	&-tabs {
		margin-bottom: 0.375rem;
		button {
			padding: 6px 8px;
			font-size: 0.8rem;
			width: 1.8rem;
			background: $pink-light;
			&:hover, &.selected {
				background: $pink;
			}
		}
	}
	&-grid {
		.square {
			fill: #fff;
			stroke: $black;
			&.primary {
				fill: $blue-dark;
			}
		}
		circle {
			fill: transparent;
			stroke-width: 2;
			stroke: $blue-dark;
		}
	}
}