.patterns {
	h3 {
		text-align: center;
		color: $blue-medium;
	}
	&-item {
		display: flex;
		flex-direction: row;
		@include tablet {
			flex-direction: column;
		}
		table {
			position: relative;
		}
		&-section {
			margin: 20px auto;
			&-label {
				position: absolute;
				top: 44%;
				right: -20px;
			}
			&-spacer {
				padding: 5px;
			}
		}
		&-row {
		}
		&-cell {
			height: 25px;
			width: 25px;
			text-align: center;
			@include mobile {
				height: 16px;
				width: 16px;
				font-size: 0.65rem;
			}
			&.checked {
				background: $blue-medium;
				border: 1px solid $blue-dark;
			}
			&.not-checked {
				background: $peach-light;
				border: 1px solid $blue-dark;
			}
		}
	}
	&-tie_up {
		margin-right: 16px;
	}
	&-nav {
		text-align: center;
		button {
			margin: 10px;
			font-size: 2rem;
			color: $blue-medium;
		}
	}
}