.pattern-item {
	text-align: center;
	margin: 0 auto;
	display: block;
	&-section {
		margin: 20px;
		display: inline-block;
		text-align: left;
		vertical-align: top;
		overflow: auto;
		max-width: calc(100% - 40px);
		@include mobile {
			display: block;
			text-align: center;
		}
	}
	h5, .content-tabs {
		margin-left: 16px;
		@include mobile {
			margin-left: 12px;
		}
	}
	.content-tabs {
		margin-bottom: 6px;
	}
	&-grid {
		.square {
			fill: #fff;
			stroke: #000;
			&.primary {
				fill: $blue-dark;
			}
		}
		circle {
			fill: transparent;
			stroke-width: 2;
			stroke: $blue-dark;
		}
	}
}