.pattern-item {
	text-align: center;
	margin: 0 auto;
	display: block;
	&-section {
		margin: 20px;
		display: inline-block;
		text-align: left;
		vertical-align: top;
		overflow: auto;
		max-width: calc(100% - 40px);
		.square {
			stroke: $blue-medium;
		}
		@include mobile {
			display: block;
			text-align: center;
		}
	}
	h5, .content-tabs {
		margin-left: 22px;
		@include mobile {
			margin-left: 14px;
		}
	}
	.content-tabs {
		margin-bottom: 6px;
	}
}