.pattern-item {
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-right: 16px;
	&-nav {
		text-align: center;
		button {
			margin: 10px;
			font-size: 2rem;
			color: $blue-dark;
			&:first-of-type {
				margin-right: 80px;
			}
			&:last-of-type {
				margin-left: 80px;
			}
		}
	}
	&-section {
		margin: 20px;
		display: inline-block;
		text-align: left;
		vertical-align: top;
		overflow: auto;
		max-width: calc(100% - 40px);
		@include mobile {
			display: block;
			text-align: center;
		}
	}
	h5, .content-tabs {
		margin-left: 16px;
		@include mobile {
			margin-left: 12px;
		}
	}
	.content-tabs {
		margin-bottom: 6px;
	}
	&-grid {
		.square {
			fill: #fff;
			stroke: #000;
			&.primary {
				fill: $blue-medium;
			}
		}
		circle {
			fill: transparent;
			stroke-width: 2;
			stroke: $blue-medium;
		}
	}
	.add-item {
		cursor: pointer;
		rect {
			fill: $gray-light;
			stroke-width: 1;
			stroke: #000;
			&:hover  {
				fill: $gray-light-hover;
			}
		}
	}
}