.pattern-preview {
	text-align: center;
	margin: 0 auto;
	display: block;
	.warp, .weft {
		rect {
			fill: $blue-dark;
		}
		line {
			stroke: #003987;
		}
	}
	.secondary {
		rect {
			fill: $yellow-bright;
		}
		line {
			stroke: #dbc000;
		}
	}
	.default {
		rect {
			fill: $blue-bright;
		}
		line {
			stroke-width: 0;
		}
	}
	.contrast {
		.default {
			rect {
				fill: $pink;
			}
		}
	}
	line {
		stroke-width: 1;
	}
}