.pattern-app-about {
	max-width: 100%;
	height: 100vh;
	width: 100vw;
	margin: 0;
	h3 {
		font-size: 2.5rem;
		margin: 0 0 1rem 0;
	}
	.modal-content {
		margin-left: 5rem;
	}
	&-close {
		font-weight: 400;
		font-size: 3rem;
	}
	.modal-close {
		display: none;
	}
	.container {
		max-width: 44rem;
	}
}