.pattern-app-nav {
	a, button {
		height: 2.25rem;
		width: 2.25rem;
		line-height: 2.25rem;
		padding: 0;
		display: block;
		background: $blue-dark;
		color: $white;
		text-align: center;
		@extend .font-heavy;
		&:hover {
			background: $yellow-bright;
			color: $blue-dark;
		}
	}
	ul {
		margin: 1rem 0 0 0;
	}
}