.pattern {
	&-tie_up {
		margin-right: 16px;
	}
	&-nav {
		text-align: center;
		button {
			margin: 10px;
			font-size: 2rem;
			color: $blue-bright;
			&:first-of-type {
				margin-right: 80px;
			}
			&:last-of-type {
				margin-left: 80px;
			}
		}
	}
	&-notes {
		margin: 2rem auto;
		text-align: left;
		max-width: 500px;
		padding: 0 0.7rem;
	}
	&-about {
		text-align: center;
		margin: 8rem 0 3rem 0;
	}
	&-select {
		text-align: center;
	}
	&-preview {
		display: inline-block;
		.warp, .weft {
			rect {
				fill: $theme-1-pink-2;
			}
			line {
				stroke: #f28fff;
			}
		}
		.secondary {
			rect {
				fill: $orange-light;
			}
			line {
				stroke: $orange-dark;
			}
		}
		.default {
			rect {
				fill: $orange-dark;
			}
			line {
				stroke-width: 0;
			}
		}
		.contrast {
			.default {
				rect {
					fill: #dbeeff;
				}
			}
		}
		line {
			stroke-width: 1;
		}
	}
}