.patterns {
	h3 {
		text-align: center;
		color: $blue-medium;
	}
	&-item {
		display: flex;
		flex-direction: row;
		@include tablet {
			flex-direction: column;
		}
		table {
			position: relative;
		}
		&-section {
			margin: 20px auto;
			&-label {
				position: absolute;
				top: 44%;
				right: -20px;
			}
			&-spacer {
				padding: 10px;
			}
		}
	}
	&-row {
	}
	&-cell {
		height: 25px;
		width: 25px;
		background: $peach-light;
		border: 1px solid $blue-medium;
		&.checked {
			background: $blue-medium;
		}
	}
	&-nav {
		text-align: center;
		button {
			margin: 10px;
			font-size: 2rem;
			color: $blue-medium;
		}
	}
}