* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  font-family: "Roboto Mono", monospace;
}

.intro {
  margin: 20px 0;
  color: rgb(105, 105, 105);
}

p {
  color: black;
}

#main {
  padding: 30px 0 100px;
}

.item {
  position: relative;
  margin-right: 5px;
}

.item.active {
  background: #add33f;
  font-weight: bold;
}

#bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
