@import './../base/base';
@import './../util/split-word';
@import './../util/animations';
@import './partials/home-reset';

@import './partials/variables';
@import './partials/typography';

@import './partials/footer';
@import './partials/time-background';
@import './partials/home-detail';
@import './partials/home-detail-content';
@import './partials/decimal-clock';

@import './../pages/windows/windows';

.home {
    &-content {
        &-year {
            margin-top: $margin * 5;
            text-align: right;
        }
    }

    @include breakpoint(sm){ 
        &:not(.scrolled) {
            h1 {
                span {
                    transform: translateY(0);;
                }
            }
        }
    }
    &.scrolled {
        header a:hover h1 {
            @extend .collapse;
        }
    }

    .img-container {
        width: 100%;
        max-width: 700px;
        min-height: 200px;
        margin: 0 auto;
        position: relative;
        overflow: visible;
        &:first-child {
            margin-top: $margin * 2;
        }
        img, canvas {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
        &.dark {
            background: #272727;
            a, h4 {
                color: #fff;
            }
        }
        a {
            position: absolute;
            height: 100%;
            width: 100%;
            justify-content: flex-end;
            color: #000;
            padding: 10px;
            top: 0;
            right: 0;
            text-transform: uppercase;
            font-style: normal;
            z-index: 100;
            @extend .split-word;
            &:hover {
                @extend .collapse;
            }
        }
        h4 {
            position: absolute;
            color: #000;
            bottom: 0;
            left: $margin;
            font-style: normal;
            z-index: 100;
            @include breakpoint(xs) {
                left: 10px;
                margin-bottom: 10px;
            }
        }
        &.table {
            padding: $margin * 2;
            img {
                @extend .spin;
                max-width: 433px;
                @include breakpoint(xs) {
                    max-width: 80%;
                }
            }
        }
        &.amandamodo {
            padding: 0 20px;
            h4 {
                bottom: 40px;
                @include breakpoint(xs) {
                    bottom: 12px;
                }
            }
            @include breakpoint(xs) {
                padding: 0;
            }
        }
        &.stillLife, &.muriel {
            h4 {
                color: #000;
            }
        }
        &.sfpcShowcase {
            h4 {
                color: #fff;
            }
        }
        &.vurv {
            background: #272727;
            padding: 30px;
            
        }
        &.weavingpatterns {
            padding: 50px 30px 60px 30px;
            img {
                max-width: 500px;
            }
        }
        &.muriel {
            h4 {
                background: #fff;
            }
        }
        &.cloudtown {
            img {
                padding: $margin * 2.5;
            }
        }
        &.gradients {
            overflow: hidden;
            .gradients {
                height: 700px;
                @include breakpoint(xs) {
                    height: 300px;
                }
            }
        }

        &:hover {
            filter: none;
        }
    }
}

.main {
    padding: 0 $margin 120px $margin;
    overflow-x: hidden;

    @include breakpoint(xs) {
        padding-top: 80px;
        a span {
            transform: translateY(0) !important;
        }
    }
}