header {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	h1 {
		display: inline-block;
	}
	nav {
		position: fixed;
		top: 3rem;
		left: 0;
		z-index: $z-index-nav;
		ul {
			margin: 0;
			left: 0;
			position: absolute;
			text-align: left;
		}
		li {
			position: relative;
			right: 100%;
			font-size: 1rem;
			@include transition (right 0.2s);
			@for $i from 2 to 10 {
			 	&:nth-child(#{$i}) {
			    	@include transition-delay (#{$i / 20}s);
			  	}
			}
		}
		a {
			display: inline-block;
			padding: 12px 28px;
			background: $pink;
			color: #000;
			font-weight: 400;
			&.active {
				&:before {
					content: '';
					position: absolute;
					left: 12px;
					top: 21px;
					border-radius: 100%;
					background: $teal;
					width: 8px;
					height: 8px;
				}
			}
			&:hover {
				background: $pink-hover;
			}
		}
		&:hover, &:focus {
			outline: none;
			ul {
				display: block;
			}
			li {
				right: 0;
			}
		}
		@include tablet {
			position: absolute;
			top: 2rem;
			z-index: auto;
		}
	}
}
.toggle-nav {
	margin: 10px 20px;
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 18px solid $orange-dark;
	@include tablet {
		border-width: 14px;
	}
}