@import './../../../base/partials/mixins';

html {
    background: hsl(0, 27%, 23%);
}
body {
    margin: 0;
    overflow: hidden;
}

@keyframes sun {
    0% {
        transform: translate(-500px, 200px) skew(-40deg,0deg);
    }
    100% {
        transform: translate(0, 120px) skew(35deg,0deg);
    }
}

.rooms {
    top: 0;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    height: 500px;

    @include breakpoint(xs) {
        transform: scale(0.5);
        width: 200%;
        height: 200%;
        transform-origin: top left;
        padding-top: 76px;
    }
    .window {
        background: linear-gradient(#6f96ff, #afc4ff);
        background-size: cover;
        border: 2px solid hsl(0, 27%, 13%);
        .blinds-horizontal {
            > div {
                background: beige;
            }
        }
    }
    .wall {
        padding: 100px;
        background: #000;
        &.shadow {
            background-color: hsl(221, 55%, 16%);;
        }
    }
    .sun-spot {
        width: 400px;
        -webkit-animation: sun 70s 1 linear;
        animation: sun 70s 1 linear;
        transform: translate(0, 120px) skew(35deg,0deg);
        left: 50%;
        position: absolute;
        height: 400px;
        background: #ffff7a17;
        &.shadows {
            > div {
                top: 0;
            }
        }
        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            transition: top 500ms;
            background-size: 20px 20px;
        }
    }
}
.floor, .ceiling, .wall {
    transition: background-color 500ms;
}

.ceiling {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateZ(-300px);
}