@import './../../../base/base';

.cloud-diary {
    margin: 0 auto;
    max-width: 63rem;
    overflow-x: hidden;
    iframe {
        width: 100%;
        max-width: 50vh;
        height: 50vh;
        transform: scale(0.8) translateX(10%);
        border: none;

        @include breakpoint(xs) {
            width: 110%;
            max-width: 110%;
            height: 100vh;
            margin: 0 0 10vh 0;
            transform: scale(.8) translateX(-5%)
        }
    }
}