@import './split-word';
@import './variables';
@import './../../../base/partials/mixins';

header {
    top: $margin;
    padding: 8px 0;
    z-index: 2;
	position: fixed;
    left: $margin;
    a {
        height: 100px;
        display: inline-block;
        text-decoration: none;
        font-style: normal;
        &:hover h1 {
            @extend .collapse;
        }
    }
    h1 {
        pointer-events: none;
        font-family: sans-serif;
        font-size: 1.625rem;
        font-weight: 100;
        margin: 0;
        color: #000;
        text-transform: uppercase;
        @extend .split-word;
    }
    @include breakpoint(xs) {
        padding-left: 10px;
        h1 {
            transform: scale(0.65);
            transform-origin: top left;
            font-weight: 500;
            margin-top: 1px;
        }
    }
}
