.home-detail {
    padding-left: 280px;
    padding-right: $margin;
    &-container {
        max-width: 1200px;
        padding-top: 162px;
        padding-bottom: 200px;
        margin: 0 auto 0 0;
        padding-right: 40px;
        @include breakpoint(xs) {
            padding-right: 0;
            padding-top: 150px;
            padding-bottom: 240px;
        }
    }
    @include breakpoint(xs) {
        padding-left: $margin;
    }
    &-right-align {
        max-width: 620px;
        margin: 0 0 0 auto;
    }
    iframe {
        border: none;
        height: 450px;
        width: 100%;
        display: block;
        @include breakpoint(xs) {
            height: 350px;
        }
    }
    img, video {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .img-container {
        max-width: 450px;
        margin: 20vh auto 0 auto;
        overflow: hidden;
        &.first {
            margin-top: $margin * 3;
        }
    }
}