
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.025em;
}
body {
    --color-1: dodgerblue;
    --color-2: cornsilk;
    --accent-1: var(--color-2);
    --accent-2: #a601f4;
    --accent-3: var(--color-1);
    --main: var(--accent-3);
    --card: #fff;
    --card-semi-transparent: hsla(0, 0%, 100%, 0.85);
    --grad-2: var(--main);
    --grad-1: aliceblue;
    --bg: var(--color-1);
    color: var(--main);
    overflow-x: hidden;
}
body,
html {
    font-family: sans-serif;
    background: var(--bg);
    font-size: 16px;
    margin: 0;
}
header {
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 0.75rem 1.25rem 0.75rem;
    background: var(--main);
}
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 8rem;
    }
}
footer,
header {
    display: -webkit-box;
    display: flex;
}
header a {
    text-decoration: none;
    border: none;
}
header a:hover h1 {
    font-style: italic;
}
footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    background-image: linear-gradient(var(--color-2) 1px, transparent 1px), linear-gradient(to right, var(--color-2) 1px, transparent 1px);
    background-position: -1px -1px;
    background-size: 16px 52px;
    bottom: 0;
    flex-direction: column;
    height: 311px;
    justify-content: flex-end;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
}
footer select {
    width: 100px;
}
footer > p {
    background: var(--color-2);
    color: var(--color-1);
    padding: 1.25rem 2.5rem 1.25rem 1.25rem;
    position: relative;
}
footer > p img {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-8px);
}
footer .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    background: var(--color-1);
    border: 1px solid var(--color-2);
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.25rem;
}
footer a {
    color: var(--color-2);
    margin: 0 1.25rem 0 0;
    line-height: 2;
}
main {
    margin-bottom: 311px;
    position: relative;
    background: var(--bg);
    z-index: 1;
}
h1 {
    font-family: serif;
    font-size: 2.75rem;
}
h2 {
    font-size: 1.5rem;
    font-weight: 400;
}
h1,
h2 {
    padding: 0.5rem;
    margin: 0;
    color: var(--accent-1);
}
h3 {
    font-size: 2.25vw;
    font-weight: 400;
}
@media (max-width: 1200px) {
    h3 {
        font-size: 2rem;
    }
}
h3,
p {
    margin: 1rem 0;
}
p, 
details,
li,
nav {
    font-size: 1rem;
    line-height: 1.5;
}
a {
    color: inherit;
    text-decoration: none;
    /* padding: 0.25rem 0.375rem;
    margin: 0 1px; */
    border-bottom: 1px solid;
}
