.modal {
	text-align: left;
	display: inline-block;
	width: 80%;
	height: 70vh;
	margin-top: 15vh;
	max-width: 900px;
	padding: 20px;
	position: relative;			
	overflow-y: auto;
	max-height: 100%;
	@include mobile {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	&-close {
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 2rem;
	}
	&-bg {
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		height: 100%;
	}
}