.modal {
	text-align: left;
	display: inline-block;
	width: 80%;
	height: 70vh;
	margin-top: 15vh;
	max-width: 900px;
	padding: 30px;
	position: relative;
	background: $peach;
	@include mobile {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	&-content {	
		overflow-y: auto;
		height: 100%;
	}
	&-close {
		position: absolute;
		top: 0;
		right: 0;
		height: 3rem;
		line-height: 3rem;
		font-size: 3rem;
	}
	&-bg {
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: $z-index-modal;
	}
	&-open {
		@include mobile {
			overflow: hidden;
		}
	}
}