@import "./../../base/partials/mixins";

.grey-matter {
    --primary: #fff;
    --secondary: #000;
    &.inverse {
        --primary: #000;
        --secondary: #fff;
    }
    .primary-color {
        color: var(--primary);
    }
    .primary-background {
        background: var(--primary);
    }
    .secondary-color {
        color: var(--secondary);
    }
    .secondary-background {
        background: var(--secondary);
    }
    .sketch-container {
        position: fixed;
    }
    &-header {
        padding: 10px;
        white-space: nowrap;
        @extend .primary-background;
        @extend .secondary-color;
    }
    button, label {
        padding: 0;
        margin: 0;
        @extend .secondary-color;
        font-size: 1rem;
    }
    .border {
        border: 1px solid var(--secondary);
        &-top {
            border-top: 1px solid var(--secondary);
        }
        &-left {
            border-left: 1px solid var(--secondary);
        }
        &-bottom {
            border-bottom: 1px solid var(--secondary);
        }
    }
    .sketch-nav {
        padding: 10px;
        font-size: 1rem;
        @extend .primary-background;
        @extend .secondary-color;
        &.selected {
            @extend .secondary-background;
            @extend .primary-color;
        }
    }
    a {
        font-size: 1rem;
        font-style: normal;
    }
    .toggle {
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        &, input {
            cursor: pointer;
        }
        &:hover {
            input[type="checkbox"] {
                background: var(--secondary);
            }
        }
        input[type="checkbox"] {
            appearance: none;
            margin: 0;
            height: 15px;
            width: 15px;
            margin-left: 10px;
            @extend .border;
            &:checked {
                background: var(--secondary);
            }
        }
    }
}