button {
	background: #fff;
	padding: 8px;
	border: none;
	cursor: pointer;
	&:active, &:focus {
		outline: none;
	}
}

.btn-primary {
	background: $green;
	color: #fff;
	&:hover {
		background: $green-hover;
	}
}
.btn-transparent {
	background: transparent;
}