button {
	background: #fff;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 0;
	font-size: 1.2rem;
	font-family: $font-primary;
	&:active, &:focus {
		outline: none;
	}
}

.btn-primary {
	background: $pink;
	color: #000;
	&:hover {
		background: $pink-hover;
	}
}
.btn-transparent {
	background: transparent;
	padding: 0 8px;
}