@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic');

$font-primary: 'Montserrat', sans-serif;

.font-heavy {
	font-weight: 600;
}
.font-light {
	font-weight: 400;
}