* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
  	padding: 0;
}
html {
	font-family: $font-primary;
	font-size: 16px;
	color: $black;
	font-weight: 400;
	@include tablet {
		font-size: 14px;
	}
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
section {
	padding: 7vh 7vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include mobile {
		height: 50vh;
	}
}
a {
	color: $blue-dark;
	text-decoration: none;
	font-size: inherit;
}
p {
	margin: 1rem 0;
	font-size: 0.9rem;
	line-height: 1.8em;
	@include tablet {
		font-size: 1.1rem;
	}
	&.small {
		@include tablet {
			font-size: 0.9rem;
		}
	}
}
img {
	max-width: 100%;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
label {
	padding: 1rem;
	cursor: pointer;
	color: $blue-dark;
}
svg {
	overflow: visible;
	fill: $black;
}
input {
	color: $black;
	::-webkit-input-placeholder { /* WebKit browsers */
    	color:    #999;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    #999;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    #999;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    #999;
	}
}