* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
  	padding: 0;
}
html {
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 200;
	height: 100%;
	@include tablet {
		font-size: 14px;
	}
}
h1 {
	font-weight: 600;
	text-align: center;
	margin: 0;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	@include tablet {
		font-size: 7vw;
	}
}
h2 {
	font-weight: 500;
	font-size: 3rem;
	margin: 0;
	@include tablet {
		font-size: 5vw;
	}
}
h3 {
	font-weight: 400;
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}
h4 {
	color: #000;
	font-size: 0.8rem;
	font-weight: 500;
	margin: 1vw 0;
	text-align: center;
	text-transform: uppercase;
	@include tablet {
		font-size: 2.5vw;
	}
}
h5 {
	margin: 0.5rem 0;
	font-size: 0.8rem;
	font-weight: 400;
}
h6 {
	margin: 0.5rem 0;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
a {
	color: $blue-dark;
	text-decoration: none;
}
p {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.8em;
	@include tablet {
		font-size: 1.1rem;
	}
	&.small {
		@include tablet {
			font-size: 0.9rem;
		}
	}
}
img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 1.25rem;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
}
label {
	padding: 1rem;
	font-weight: 600;
}
svg {
	overflow: visible;
}
input {
	::-webkit-input-placeholder { /* WebKit browsers */
    	color:    #999;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    #999;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    #999;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    #999;
	}
}