* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
  	padding: 0;
}

html {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}
header {
  width: 100%;
  padding: 0;
}
h1 {
	font-weight: normal;
	text-align: center;
	margin: 1rem 0;
	color: $green;
	font-size: 3.4vw;
	letter-spacing: 3.7vw;
}
h2 {
	font-weight: normal;
	margin: 0 0 1rem 0;
}
h3 {
	margin: 0.5rem 0;
	font-size: 0.7rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}
a {
	color: $blue-medium;
	text-decoration: none;
}
p {
	margin: 0.5rem 0;
}
img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 20px;
}
