$white: #fff;
$black: #00446a;

$peach: #ffe7d2;
$peach-light: #fff6ef;

$orange-light: #fc8c28;
$orange-dark: #FF5722;

$pink-hover: #eebcba;
$pink-dark: #e7a3a0;

$green-light: #9fc7a1;
$green-light-hover: #85b787;
$green: #239358;
$green-hover: #1d7c49;

$yellow: #f8ffb7;

$gray-light: #eee;
$gray-light-hover: #dadada;
$gray-medium: #909090;

$blue-light: #d0e0f2;
$blue-light-hover: #b3dbff;

$red: #F70000;

$theme-1-pink-1: #fff4f6;
$theme-1-pink-2: #f6b5ff;
$theme-1-pink-3:#f6befe;
$theme-1-yellow: #ff0;
$theme-1-blue: #dde0ff;
$theme-1-gray: #c0c0c0;
$theme-1-green: #add;

$beige: #f5f5dc;
$blue-bright: #45a6f3;
$blue-dark: #0067ef;
$yellow-bright: #FDEC00;
$pink: #ffc0cb;
$pink-light: #fff4f6;

// z-index
$z-index-modal: 100;
$z-index-nav: 200;