$peach: #ffe7d2;
$peach-light: #fff6ef;

$orange-light: #fc8c28;
$orange-dark: #FF5722;

$pink-light: #fff4f6;
$pink: #efd7dd;
$pink-hover: #eebcba;
$pink-dark: #e7a3a0;

$green-light: #9fc7a1;
$green-light-hover: #85b787;
$green: #239358;
$green-hover: #1d7c49;

$yellow: #f8ffb7;
$yellow-dark: #dd9725;

$teal: #6ba4a8;

$gray-light: #dadada;
$gray-medium: #909090;

$blue-light: #d0e0f2;
$blue-light-hover: #b3dbff;
$blue-bright: #45a6f3;
$blue-medium: #3c709a;
$blue-dark: #245a85;

$red: #F70000;

$theme-1-pink-1: #fff4f6;
$theme-1-pink-2: #f6b5ff;
$theme-1-pink-3:#f6befe;
$theme-1-yellow: #ff0;
$theme-1-blue: #dde0ff;
$theme-1-gray: #c0c0c0;
$theme-1-green: #add;


// z-index
$z-index-modal: 200;
$z-index-nav: 100;

