$peach: #ffe7d2;
$peach-light: #fff6ef;
$orange-dark: #FF5722;
$green-light: #9cccaf;
$green: #239358;
$green-hover: #1d7c49;
$yellow: #f8ffb7;

$gray-medium: #adadad;
$blue-medium: #3c709a;

$red: #F70000;

