@import './variables';

footer {
    position: fixed;
    left: $margin;
    height: 0;
    text-align: center;
    bottom: 0px;
    transition: all 600ms;
    z-index: 100;

    @include breakpoint(xs) {
        width: 100%;
        left: 0;
    }

    &.expand {
        .footer-links {
            // margin-top: 0;
            bottom: 0;
            opacity: 1;
        }
        .footer-toggle {
            opacity: 1;
        }
        &:after {
            content: '';
            height: 150px;
            width: 100%;
            position: absolute;
            top: -150px;
            left: 0;
        }
        // @include breakpoint(xs) {
        //     height: 540px;
        //     max-height: 90%;
        //     background: rgba(255,255,255,0.8);
        // }
    }
    &:focus, &:active {
        outline: none;
    }

    a {
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        margin-bottom: 8px;
        white-space: nowrap;
        font-style: normal;
        color: #00f;
        &:hover, &.active {
            font-style: italic;
        }
    }
    img {
        height: 70px;
    }
    .footer {
        &-indicator {
            width: 80px;
            height: 40px;
            background: #F0F4C3;
            transition: all 3s, height 0.5s;
            border-radius: 100%;
            position: fixed;
            margin: 0;
            bottom: 30px;
            right: $margin;
            z-index: 1;
            &:hover {
                height: 80px;
            }
        }

        &-toggle {
            position: absolute;
            bottom: 10px;
            margin-top: $margin;
            left: -$margin;
            opacity: 0.5;
            transition: opacity 600ms;
            padding: $margin;
            z-index: 1;
            @include breakpoint(xs) {
                left: 0;
            }
        }

        &-links {
            max-height: calc(100vh - 230px);
            height: 100%;
            margin-bottom: 80px;
            overflow: auto;
            bottom: -100%;
            left: $margin;
            position: fixed;
            transition: bottom 600ms;
            align-self: flex-start;
            margin-right: auto;
            text-align: right;
            padding-right: 8px;
            &:active, &:focus {
                outline: none;
            }

            @include breakpoint(xs) {
                padding-top: $margin;
                height: 430px;
                max-height: 100%;
                display: flex;
                padding-bottom: 80px;
                margin-bottom: 0;
                height: 540px;
                max-height: 90vh;
                background: rgba(255,255,255,0.8);
                width: 100%;
                
                nav {
                    display: inline-block;
                    overflow: auto;
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .link {
                &-about {
                    margin-top: $margin * 3;
                    @include breakpoint(xs) {
                        margin-top: $margin * 1.5;
                    }
                }
                &-home {
                    margin-bottom: $margin * 2;
                    @include breakpoint(xs) {
                        margin-bottom: $margin * 1.5;
                    }
                }
            }
        }
    }
}