@import './variables';

footer {
    position: fixed;
    left: $margin;
    height: 0;
    text-align: center;
    bottom: 0px;
    transition: all 600ms;
    z-index: 100;

    @include breakpoint(xs) {
        width: 100%;
        left: 0;
    }

    // &:before {
    //     @include breakpoint(xs) {
    //         background: rgba(255,255,255,0.2);
    //         content: '';
    //         height: 90px;
    //         width: 100%;
    //         position: absolute;
    //         top: -90px;
    //         left: 0;
    //     }
    // }

    &.expand {
        .footer-links {
            bottom: 0;
        }
    }
    &:focus, &:active {
        outline: none;
    }
    li {
        line-height: 1.4;
    }

    a {
        display: block;
        cursor: pointer;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 8px;
        white-space: nowrap;
        font-style: normal;
        color: #00f;
        &:hover, &.active {
            font-style: italic;
        }
        &:after {
            content: '';
        }
    }
    img {
        height: 70px;
    }
    .footer {
        &-indicator {
            width: 80px;
            height: 40px;
            background: #F0F4C3;
            transition: all 3s, height 0.5s;
            border-radius: 100%;
            position: fixed;
            margin: 0;
            bottom: 30px;
            right: $margin;
            z-index: 1;
            &:hover {
                @include breakpoint(sm) {
                    height: 80px;
                }
            }
        }

        &-toggle {
            position: absolute;
            bottom: 10px;
            margin-top: $margin;
            left: -$margin;
            padding: $margin;
            z-index: 1;
            @include breakpoint(xs) {
                left: 0;
            }
        }

        &-links {
            max-height: calc(100vh - 240px);
            height: 100%;
            margin-bottom: 80px;
            overflow: auto;
            bottom: -100%;
            left: $margin;
            position: fixed;
            transition: bottom 600ms;
            align-self: flex-start;
            margin-right: auto;
            text-align: right;
            padding-right: 8px;
            &:active, &:focus {
                outline: none;
            }

            a {
                &:before {
                    content: '\2192';
                    visibility: hidden;
                }
                &.active {
                    &:before {
                        visibility: visible;
                    }
                }
            }

            @include breakpoint(xs) {
                padding: $margin $margin 80px $margin;
                margin-bottom: 0;
                height: 600px;
                max-height: 90vh;
                background: rgba(255,255,255,0.9);
                width: 100%;
                left: 0;
                
                nav {
                    overflow: auto;
                    display: block;
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .link {
                &-about {
                    margin-top: 34px;
                    @include breakpoint(xs) {
                        margin-top: $margin;
                    }
                }
                &-home {
                    margin-bottom: 34px;
                    @include breakpoint(xs) {
                        margin-bottom: $margin;
                    }
                }
            }
        }
    }
}