.home-detail-content { 
    .sky-above-clouds {
        height: 320px;
    }
    &.home-detail {
        &-stillLife {
            iframe {
                height: 480px;
                @include breakpoint(xs) {
                    transform: scale(0.7);
                    margin-left: -20%;
                    margin-top: -40px;
                    margin-bottom: -40px;
                    height: 400px;
                }
                &.full-mobile {
                    @include breakpoint(xs) {
                        width: 142.8%;
                    }
                }
            }
        }
        &-cloudtown {
            iframe {
                @include breakpoint(xs) {
                    transform: scale(.75);
                    transform-origin: top left;
                    width: 134%;
                    height: 476px;
                    margin-bottom: -116px;
                }
            }
        }
        &-muriel {
            .img-container {
                max-width: 100%;
            }
        }
        &-vurv {
            .iframe-container {
                background: #272727;
                iframe {
                    height: 600px;
                    width: 400px;
                    display: block;
                    margin: 0 auto;
                    @include breakpoint(xs) {
                        width: 90%;
                        height: 400px;
                    }
                }
            }
        }
        &-gradients {
            .gradients {
                position: relative;
                height: 400px;
                @include breakpoint(sm) {
                    height: 600px;
                }
            }
        }
        &-grey_matter {
            .vimeo-iframe, figure {
                margin: 3rem 0;
            }
            @include breakpoint(xs) {
                .vimeo-iframe {
                    margin: -2rem 0;
                }
            }
            @include breakpoint(xxs) {
                .website-iframe {
                    transform: scale(.93);
                    width: 107.5%;
                    transform-origin: left;
                }
            }
        }
    }
}