.time-background {
    transition: all 3s;
    background: linear-gradient(#F0F4C3 0%, rgba(255,255,255,0) 130px);
    z-index: 1;
    position: fixed; 
    pointer-events: none;
    width: 100%;
    top: -150px;
    left: 0; 
    height: 150px;
    &.visible {
        top: 0; 
    }
    @include breakpoint(xs) {
        height: 120px;
        background: linear-gradient(#F0F4C3 0%, transparent 110px);
    }
}